h1 {
  color: #254E58;
  background-color: #88BDBC;
  line-height: 300px;
  padding-left: 10%;
  font-size: 60px;
  margin: 0;
  padding: 0;
  boarder: 0;

}

.logo{
height: 300px;
width: 300px;
float: left;
margin: 0;
padding-right: 30px;
border: 0;
padding-bottom:0;

}

#error{
  color: red;
  font-family:"Open Sans Condensed";
  font-size: 20px;
}

.bodytext{
  color: #254E58;
  background-color: #88BDBC;
  line-height: 25px;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;

}

.headingtitle{
  text-align: center;
  margin: 0;
  padding: 0;
  boarder: 0;
}

.navbar {
clear: left;
color: #254E58;
background-color: #6E6658;
font-weight: 600;
font-size: 15px;
font-family: "Open Sans Condensed";
letter-spacing: 5px;
margin: 0;
padding: 0;
boarder: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    boarder: 0;
    overflow: hidden;
    display: block;
}

li {
    float: left;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Open Sans Condensed";

}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #254E58;
}
#countdown{
  color: white;
  background-color: #112D32;
  font-weight: 600;
  font-size: 30px;
  font-family: "Open Sans Condensed";
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
  padding: 0;
  boarder: 0;
}

#currentpage {
  color: red;
  background-color:#112D32;
}


.prettymugs{
  padding: 30px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:450px;
    width: 600px;

}



#footer{
  clear: left;
  color: #254E58;
  font-weight: 600;
  font-size: 15px;
  font-family: "Open Sans Condensed";
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  boarder: 0;



}
